<!DOCTYPE html>
{% block tag_html %}
<html lang="{{ page_lang ?? 'en'}}" >
{% endblock %}
<head>
{% block head_content %}
{% block tag_charset %}
	<meta charset="UTF-8" />
{% endblock %}
{% block tag_title %}
	<title>Welcome!</title>
{% endblock %}
{% block page_meta %}{% endblock %}
{% block page_link %}{% endblock %}
{% block page_head %}{% endblock %}
{% endblock %}
</head>
{% block tag_body %}
<body>
{% endblock %}
{% block body_content %}
{% block page_header %}{% endblock %}
{% block page_body %}{% endblock %}
{% block page_footer %}{% endblock %}
{% endblock %}
</body>
</html>
